backend:
  name: git-gateway
media_folder: 'static/images/uploads'
public_folder: '/images/uploads'
site_url: https://hanamura-poc-nuxt.netlify.com
collections:
  - name: 'news'
    label: 'News'
    folder: 'content/news/posts'
    create: true
    slug: '{{slug}}'
    format: 'yaml'
    sort: 'date:desc'
    identifier_field: slug
    fields:
      - label: 'Title'
        name: 'title'
        widget: 'string'
      - label: 'Slug'
        name: 'slug'
        widget: 'string'
      - label: 'Date'
        name: 'date'
        widget: 'datetime'
        format: 'dddd MMMM Do, YYYY'
      - label: 'Category'
        name: 'category'
        widget: 'select'
        options:
          - label: 'Train'
            value: 'train'
          - label: 'Bus'
            value: 'bus'
          - label: 'Other'
            value: 'other'
      - label: 'Body'
        name: 'body'
        widget: 'markdown'
